<p style="color: green"><%= notice %></p>

<h1>Pruducts</h1>

<div id="pruducts">
  <% @pruducts.each do |pruduct| %>
    <%= render pruduct %>
    <p>
      <%= link_to "Show this pruduct", pruduct %>
    </p>
  <% end %>
</div>

<%= link_to "New pruduct", new_pruduct_path %>
